<% content_for :title do %>
  ReDiscover Weekly | Dashboard
<% end %>

<% if !current_user.has_discover_weekly? %>
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <strong>Re</strong>Discover Weekly</h1>
      <p class="lead">Click the button below to back up this week's Discover Weekly playlist <strong>AND</strong> to turn on automatic backups for every week in the future.</p>
      <p><strong>Backup playlists will be pushed directly to your Spotify sidebar and stored here as well.</strong></p>
      <hr class="my-4">
      <p class="lead">
        <%= button_to "Start Backing Up Discover Weekly", initial_discover_weekly_sync_playlists_path, class: "btn btn-success btn-lg", role: "button", data: { disable_with: "Hold please..." } %>
      </p>
    </div>
<% end %>

<% if current_user.has_backups? %>
  <h2>Your Backups</h2>
  <table class="table table-striped backups-list-table">
    <tbody>
      <% @playlists.each do |pl| %>
      <tr>
        <td>
          Week of <%= pl.week_of.strftime(" %B %d, %Y") %></td>
        <td align="right">
          <div class="btn-group backups-list-table__buton-group" role="group">
            <%= link_to "View Tracks", playlist_path(pl), class: "btn btn-primary btn-sm" %>
            <%= link_to "Restore to Spotify", restore_to_spotify_playlist_path(pl), method: :post, class: "btn btn-info btn-sm", data: { disable_with: "Hold please..." } %>
            <%= link_to 'Delete', playlist_path(pl), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </div>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
<% end %>

<% if !current_user.has_backups? and current_user.has_discover_weekly? %>
  <div class="jumbotron">
    <p class="lead">It looks like we have your Discover Weekly playlist ID but you don't have any backups.</p>
    <hr class="my-4">
    <p class="lead">
      <%= button_to "Backup Now", sync_discover_weekly_playlists_path, class: "btn btn-success btn-lg", role: "button" %>
    </p>
  </div>
<% end %>
