<% unless current_user.has_discover_weekly? %>
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <strong>Re</strong>Discover Weekly</h1>
      <p class="lead">Click the button below and we'll connect to your spotify account and start backing up your Discover Weekly playlists automatically, <strong>every single week.</strong></p>
      <hr class="my-4">
      <p class="lead">
        <%= button_to "Start Discover Weekly Sync", retrieve_discover_weekly_playlists_path, class: "btn btn-success btn-lg", role: "button" %>
      </p>
    </div>
<% end %>


<% if current_user.has_discover_weekly? %>
<h2>Your Backups</h2>

<table class="table table-striped">
  <tbody>
    <% @playlists.each do |pl| %>
    <tr>
      <td><%= pl.week_of.strftime(" %B %d, %Y") %><span class="ml-2 badge badge-primary"><%= pl.tracks.count %> tracks</span></td>
      <td align="right">
        <div class="btn-group " role="group">
          <%= link_to "View Tracks", playlist_path(pl), class: "btn btn-primary btn-sm" %>
          <%= link_to "Restore to Spotify", restore_to_spotify_playlist_path(pl), method: :post, class: "btn btn-info btn-sm" %>
          <%= link_to 'Delete', playlist_path(pl), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </div>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>
<% end %>
<!--  <%= button_to "Back up this week's playlist", sync_discover_weekly_playlists_path %> -->
<% if current_user.has_discover_weekly? %>
  Discover Weekly Playlist ID:<strong><%= current_user.discover_weekly_id %></strong>
<% end %>