<br>
welcome to your dashboard

<br>

<br>
<% if current_user.has_discover_weekly? %>
    We have your discover weekly playlist: <%= current_user.discover_weekly_id %>
    <br>
    <%= button_to "Back up this week's playlist", sync_discover_weekly_playlists_path %>
<% else %>
    <%= button_to "Find my discover weekly playlist", retrieve_discover_weekly_playlists_path %>
<% end %>


<ul>
<% @playlists.each do |pl| %>
    <li><%= pl.name %> | <%= link_to 'delete', playlist_path(pl), method: :delete, data: { confirm: 'Are you sure?' } %>
        
        | <%= link_to "restore to spotify", restore_to_spotify_playlist_path(pl), method: :post %>
    </li>
    <ul>
        <% pl.tracks.order('id ASC').each do |track| %>
            <li><%= track.formatted_artist_name %> - <%= track.name %></li>
        <% end %>
    </ul>
<% end %>
</ul>