<% content_for :title do %>
  ReDiscover Weekly | <%= @playlist.name %>
<% end %>

<div class="d-flex align-items-center justify-content-between mb-4">
  <h3><%= @playlist.name %></h3>
  <div class="btn-group" role="group">
    <%= link_to "Restore to Spotify", restore_to_spotify_playlist_path(@playlist), method: :post, class: "btn btn-info btn-sm", data: { disable_with: "Hold please..." } %>
    <%= link_to 'Delete', playlist_path(@playlist), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Song Link</th>
      <th>Artist(s)</th>
      <th>Track Title</th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each do |track| %>
    <tr>
      <td><%= track_image_tag(track) %></td>
      <td><%= track.formatted_artist_name %></td>
      <td><%= track.name %></td>
    </tr>
    <% end -%>
  </tbody>
</table>