<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "ReDiscover Weekly" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <%= javascript_pack_tag 'application' %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114991588-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114991588-1');
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/dashboard"><strong>Re</strong>Discover Weekly</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Backups <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
        </ul>
          <% if user_signed_in? %>
            <div class="nav-item dropdown profile-nav">
              <div class="profile-nav__user-image d-inline-block" style="background-image:url('<%= current_user.image_url %>')"></div>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "Edit Account", edit_user_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
              </div>
            </div>
          <% else %>
            <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path %>
          <% end %>
      </div>
    </nav>

    <div class="container-fluid">
    <div class="flash-message-wrapper">
      <%= render "shared/flash_messages" %>
    </div>

    <%= yield %>
  </body>
</html>
