<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyWeekly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p>hey <%= current_user.info["name"] %> | <%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
    <% else %>
      <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
