<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Search Engine -->
    <meta name="description" content="Automatic Backup of All Your Spotify Discover Weekly Playlists">
    <meta name="image" content="<%= image_url "share.jpg" %>">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="ReDiscover Weekly">
    <meta itemprop="description" content="Automatic Backup of All Your Spotify Discover Weekly Playlists">
    <meta itemprop="image" content="<%= image_url "share.jpg" %>">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="ReDiscover Weekly">
    <meta property="og:site_name" content="ReDiscover Weekly">
    <meta property="og:url" content="http://url">
    <meta property="og:description" content="Automatic Backup of All Your Spotify Discover Weekly Playlists">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= image_url "share.jpg" %>">
    <title><%= content_for?(:title) ? yield(:title) : "Title" %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag "homepage" %>
    <%= csrf_meta_tags %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114991588-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114991588-1');
    </script>
  </head>
    <body>
      <div class="home-hero">
        <h1><strong>Re</strong>Discover Weekly</h1>
        <p>Automatic Backup Of All Your Discover Weekly Playlists</p>
        <%= link_to user_spotify_omniauth_authorize_path, class: "home-hero__spotify-button" do %>
          <span class="icon-spotify"> </span>Log In With Spotify
        <% end %>
      </div>
    </body>
  </html>